body {
  background-color: #3a3431;
  font-family: 'Raleway', sans-serif;
}

#title {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  color: white;
}

#subtitle {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  margin-top: .3em;
  margin-bottom: .3em;
}

#game {
  /*background-color: green;*/
  width: 800px;
  height: 566px;
  margin: auto;
}
